<div class="max-w-4xl mx-auto">
  <h1 class="text-3xl font-bold mb-6">Edit Recipe</h1>
  <%= render "form", recipe: @recipe %>
  <%= link_to "Back to Recipe", @recipe, class: "text-gray-600 hover:underline mt-4 inline-block" %>
</div>